@model RecruitementManagementApp.Models.CandidatOffre

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CandidatOffre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCandidat" />
            <input type="hidden" asp-for="codeOffre" />
            <label asp-for="Status"></label>
            <select asp-for="Status" class="form-control">
                <option value="EnAttente"> EnAttente</option>
                <option value="Acceptees">Accepté(e)</option>
                <option value="Rejetees">Rejeté(e)</option>
            </select>
            <span asp-validation-for="Status"></span>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

